<section class="blue">
  <div class="panel" id="welcome_panel">
    <div id="home_content">
      Monthly<br><br><br><br>
      Supplement<br><br><br><br>
      Samples
    <!-- 
    <iframe width="640" height="360" src="http://www.youtube.com/embed/4tnUlMhX3hQ" frameborder="0" allowfullscreen></iframe> -->
  </div>   
  </div>
</section>

<a name="info" id="anchor"></a>

<section class="blue">
  <div class="seperation">
    <div class="seperation-left"></div>
    <div class="seperation-right"></div>
  </div>
  <div class="panel" id="info_panel">
    <div class="l_font f_white" id="info_head">
      DISCOVER WHAT SUPPLEMENTS WORK BEST
      <br><br>
      WITH YOUR BODY FOR ONLY $10/MONTH. 
      <br><br>
      CANCEL ANYTIME</div>
      <br><br><br>
    <div class="m_font f_white" id="info_body">
      Each bundle comes with an assortment<br><br>
      of supplements that you might not have <br><br>
      tried otherwise!
    </div>



  </div>  
</section>




<section class="d_grey">
  <div class="seperation">
    <div class="seperation-left"></div>
    <div class="seperation-right"></div>
  </div>
  <div class="panel" id="contact_panel">

    <div id="contact_holder">
      <div class="m_font" id="contact_text">Contact us:</div>
      <br><br>
      <a href="facebook.com" target="_blank"><img id="facebook_img" align="left" border="0"></a>
      <a href="twitter.com/boostbundle" target="_blank"><img id="twitter_img" border="0"  align="left"></a>
      <a href="youtube.com" target="_blank"><img id="youtube_img" border="0"  align="left"></a>
      <a href="pinterest.com" target="_blank"><img id="pinterest_img" border="0"  align="left"></a>
      <a href="google.com" target="_blank"><img id="gplus_img" border="0" align="left"></a>  
    </div>
  </div> 
  
</section>


