<section class="blue">
  <div class="panel" id="success_panel">

  	<div id="success_holder">
  		<div id="success_text">
	  		<p>Your order was successfully placed.<p><br><br><br>
	  		<p>An email email will be sent to <%= current_user.email %></p><br><br><br>
	  		<p>Enjoy your bundle!</p>
  		</div>
    <div>
  	
  </div>
</section>



